{:mvn/repos
   {"my.datomic.com" {:url "https://my.datomic.com/repo"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/test.check {:mvn/version "1.0.0"}
        com.datomic/datomic-pro {:mvn/version "1.0.6202"}}
 :paths ["src" "resources" "recursion" "specs-learning"
         "destructoring" "data-modeling" "combinators" "collections/src"
         "clj-intro" "beginning-property-based-testing" "datomic-intro"]

 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps  {profit/profit {:mvn/version "0.1.0-SNAPSHOT"}}}}}
